# Pandas Practice Questions:oct 2023

In [2]:
# import pandas and numpy libraries
import pandas as pd
import pandas as np

# I.Pandas Series:
*1dimensional labeled array*,
*Asingle column in table *
*Series()*

In [ ]:
#Q.1 Write program to convert a list into Series

In [ ]:

# Create a list
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list into a Series
my_series = pd.Series(my_list) #pd.Series() function to convert a list into a Series.

print(my_series)

0     apple
1    banana
2    cherry
3      date
dtype: object

In [ ]:
my_series

0     apple
1    banana
2    cherry
3      date
dtype: object

In [ ]:
#Q2. Convert pandasseries into list ?
#tolist() method to convert a Pandas Series into a Python list.

In [ ]:
# Convert the Series into a Python list
my_list1 = my_series.tolist()

print(my_list1)

['apple', 'banana', 'cherry', 'date']

In [ ]:
# Q3. For a given series, chnage the default index into odd index only

In [ ]:
# ex 1
l = [2, 4, 5, 6, 9]

s = pd.Series(l, index = [1, 3, 5, 7, 9])

print(s)

1    2
3    4
5    5
7    6
9    9
dtype: int64

In [ ]:
#Ex2.
my_list12 = ['apple', 'banana', 'cherry', 'date']

# Convert the list into a Series
my_series1 = pd.Series(my_list12,index = [1, 3, 5, 7])


my_series1

1     apple
3    banana
5    cherry
7      date
dtype: object

In [ ]:
#Q4.Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
#arithmeticoperations between series

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds1

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [ ]:
ds1.dtype

dtype('int64')

In [ ]:
type(ds1)

pandas.core.series.Series

In [ ]:
ds = ds1 + ds2 # addition +
print("Add two Series:")
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64

In [ ]:
print("Subtract two Series:")
ds = ds1 - ds2 # subtract -
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)
#the corresponding element-wise operation is performed on the Series

Subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
Multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [ ]:
# Q5.Write a Pandas program to compare the elements of the two Pandas Series.

*You can use the comparison operators (==, !=, <, <=, >, >=) to compare elements of two Pandas Series*

In [ ]:
s1 = pd.Series([10, 20, 30, 40])
s2 = pd.Series([15, 20, 25, 40])

In [ ]:
# Compare elements using operators
eq = s1 == s2  # Equal
print("Equal:\n", eq)
neq = s1 != s2  # Not Equal
print("\nNot Equal:\n", neq)
lt = s1 < s2   # Less Than
print("\nLess Than:\n", lt)
lte = s1 <= s2  # Less Than or Equal
print("\nLess Than or Equal:\n", lte)
gt = s1 > s2   # Greater Than
print("\nGreater Than:\n", gt)
gte = s1 >= s2  # Greater Than or Equal

print("\nGreater Than or Equal:\n", gte)

Equal:
 0    False
1     True
2    False
3     True
dtype: bool

Not Equal:
 0     True
1    False
2     True
3    False
dtype: bool

Less Than:
 0     True
1    False
2    False
3    False
dtype: bool

Less Than or Equal:
 0     True
1     True
2    False
3     True
dtype: bool

Greater Than:
 0    False
1    False
2     True
3    False
dtype: bool

Greater Than or Equal:
 0    False
1     True
2     True
3     True
dtype: bool

In [ ]:
'''  Each operation returns a Series of boolean values indicating the result of the comparison.'''

'  Each operation returns a Series of boolean values indicating the result of the comparison.'

In [ ]:
#q.6 Write a Pandas program to convert a dictionary to a Pandas series.?

d1 = {'a': 100, 'b': 200, 'c':300, 'd':400, 'e':800}
print("Original dictionary:")
print(d1)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [ ]:
d2={'A': 10, 'B': 20, 'C': 30, 'D': 40}
d2

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [ ]:
# Convert the dictionary into a Pandas Series
pd.Series(d2)
#key value takes as index values

A    10
B    20
C    30
D    40
dtype: int64

In [ ]:
pd.Series(d1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [ ]:
#Q.7Write a Pandas program to change the data type of given a column or a Series.

In [ ]:
s3 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s3)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [ ]:
print("Change the said data type to numeric:")
s4 = pd.to_numeric(s3, errors='coerce')
print(s4)

Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

*use pd.to_numeric() to convert the Series to numeric values. Since we specified errors='coerce', any non-numeric values will be converted to NaN.*

In [ ]:
# Create a Series with some values, including a non-numeric one ('abc')
s5 = pd.Series([1, 2, 'abc', 4, 5])

# Convert the Series to numeric, handling errors by setting non-numeric values to NaN
s6 = pd.to_numeric(s5, errors='coerce')

print(s6)

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

In [ ]:
# using astype():
ss = pd.Series([1, 2, '3', 4, 5])
print(ss)

0    1
1    2
2    3
3    4
4    5
dtype: object

In [ ]:
s_str = ss.astype(str)
print(s_str)

0    1
1    2
2    3
3    4
4    5
dtype: object

In [ ]:
s_float = ss.astype(float) #s.astype(float) converts the Series to float
print(s_float)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [ ]:
#Q.8 Write a Pandas program to convert a given Series to an array.

In [ ]:
s8 = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s8)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [ ]:
print("Series to an array")
a = np.array(s8.values.tolist())
print (a)

Series to an array
<StringArray>
['100', '200', 'python', '300.12', '400']
Length: 5, dtype: string

In [ ]:
# or
arr = s8.values
arr

array(['100', '200', 'python', '300.12', '400'], dtype=object)

*The .values attribute returns a NumPy array representing the values of the Series.*

In [ ]:
#Q. 9 Write a Pandas program to convert the first column of a DataFrame as a Series.

In [ ]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
print(type(df))

Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
<class 'pandas.core.frame.DataFrame'>

In [ ]:
sss = df.iloc[:,0]
print("\n1st column as a Series:")
print(sss)
print(type(sss))

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# or accesing 1st colum like this
s23=df['col1']
print(s23)
print(type(s23))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
#Q.10 Create a dataframe by joining more series
#ans-To create a DataFrame by joining multiple Series, you can use the pd.concat() function.

In [ ]:

# Create three sample Series
s1 = pd.Series([1, 2, 3])
s2 = pd.Series([4, 5, 6])
s3 = pd.Series([7, 8, 9])

# Concatenate the Series to create a DataFrame
df = pd.concat([s1, s2, s3], axis=1) # along axis=1 (columns) to create a DataFrame


print(df)

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [ ]:
df2 = pd.concat([s1, s2, s3], axis=0) # along axis=0 (rows) to create a DataFrame
df2

0    1
1    2
2    3
0    4
1    5
2    6
0    7
1    8
2    9
dtype: int64

In [ ]:
df2.head()

0    1
1    2
2    3
0    4
1    5
dtype: int64

In [ ]:
# Q.11. Program to create 2 integer Series and find all those elements of series 1 that are not present in series 2

In [ ]:
se1=pd.Series([1,2,3,4,5,9])
se2=pd.Series([4,5,6,7,8,10])

In [ ]:
# Find elements in series1 that are not present in series2
not_in_series2 = se1[~se1.isin(se2)]
print("not inseries2 \n",not_in_series2)

not inseries2
 0    1
1    2
2    3
5    9
dtype: int64

In [ ]:
#Q.12 To find the elements in series1 that are present in series2, you can use the .
#isin() function along with boolean indexing.
#Find elements in series1 that are present in series2
in_both_series = se1[se1.isin(se2)]

print("Elements in series1 present in series2:")
print(in_both_series)

Elements in series1 present in series2:
3    4
4    5
dtype: int64

In [ ]:
#Q.13 Program to create 2 float Series and find all those elements of series 1 that are not present in series 2:
#TASK FOR YOU

In [ ]:
#Q.14 Program to create a new series that combines all elements in the given 2 series

#use np.union1d(ser1, ser2) to find the union of elements from ser1 and ser2. This function returns a sorted array.

In [ ]:

import numpy as np

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser_u = pd.Series(np.union1d(ser1, ser2))

print(ser_u)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [ ]:
'''The np.union1d function is used to find the union of elements from both series,
 and then it is converted back to a pandas Series using pd.Series().
 The output will be the sorted union of elements from ser1 and ser2'''

'The np.union1d function is used to find the union of elements from both series,\n and then it is converted back to a pandas Series using pd.Series(). \n The output will be the sorted union of elements from ser1 and ser2'

# DAY 2

In [ ]:
# Q15. Program to create a new series that contains common elements of the given 2 series

In [4]:
# METHOD 1: Using .isin() and boolean indexing

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

# Find common elements using isin and boolean indexing
common_elements = ser1[ser1.isin(ser2)] # .isin(): to create a boolean mask indicating which elements in ser1 are present in ser2

print(common_elements)

3    4
4    5
dtype: int64

In [12]:
# METHOD 2: USING np.intersect1d((ser1, ser2))
## ??

In [ ]:
#Q.16. How to extract items at given positions from a series?

In [13]:
# METHOD 1||: Using .take():.take() method to extract items at specific positions.

In [14]:
#.take()
se = pd.Series([10, 20, 30, 40, 50, 60])

# Extract items at positions 1, 3, and 5 using .take()
extracted_items = se.take([1, 3, 5])

print(extracted_items)

1    20
3    40
5    60
dtype: int64

In [15]:
se1 = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
se1

0     a
1     b
2     c
3     d
4     e
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object

In [16]:
pos = [0, 4, 8, 14, 20]
se1.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [17]:
# Method 2: Using .iloc[]

se2 = pd.Series([10, 20, 30, 40, 50, 60])

# Extract items at positions 0, 2, and 4 using .iloc[]
extracted_items = se2.iloc[[0, 2, 4]]

print(extracted_items)

0    10
2    30
4    50
dtype: int64

In [18]:
# Methods 3: directly acces Using Indexing
po=[1,3,4]
e=se2[po]
e

1    20
3    40
4    50
dtype: int64

In [19]:
#Q.17 How to convert the first character of each element in a series to uppercase?

In [23]:
se4=pd.Series(['ram','sita',123,'raj','apple','1a3'])
se4

0      ram
1     sita
2      123
3      raj
4    apple
5      1a3
dtype: object

In [24]:
#.str.capitalize() method to convert the first character of
#each element in a Series to uppercase.
s222 = se4.str.capitalize()
s222

0      Ram
1     Sita
2      NaN
3      Raj
4    Apple
5      1a3
dtype: object

In [26]:
s111=pd.Series(('abc','sds','pyc'))
s111

0    abc
1    sds
2    pyc
dtype: object

In [28]:
s111.str.capitalize()

0    Abc
1    Sds
2    Pyc
dtype: object

In [30]:
s111.str.title() # using str.title() method we can captial first letter

0    Abc
1    Sds
2    Pyc
dtype: object

In [29]:
my_set = {1, 2, 3, 4, 5}
my_series1 = pd.Series(my_set)
my_series1

TypeError: ignored

In [31]:
#above error can be remove list of set

my_set = {1, 2, 3, 4, 5}
my_series1 = pd.Series(list(my_set))

print(my_series1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Q.18 How to calculate the number of characters in each word in a series?

In [34]:
# str.len() using len()function
ser = pd.Series(['apple', 'banana', 'cherry', 'date'])

word_lengths = ser.str.len()
print(word_lengths)

0    5
1    6
2    6
3    4
dtype: int64

In [36]:
len(ser) # count how many elements in given series

4

In [37]:
# Calculate the number of characters in each word
#using apply()and lambda
word_lengths = ser.apply(lambda x: len(x))

print(word_lengths)

0    5
1    6
2    6
3    4
dtype: int64

In [38]:
# Calculate the number of characters in each word using list comprehension
_lengths = [len(word) for word in ser]
_lengths

[5, 6, 6, 4]

In [39]:
# using map() and lambda :
#The map() function in pandas is used to apply a function to each element in a Series. It takes a function as an argument and applies that function to every element in the Series,
#returning a new Series with the modified values.

ser.map(lambda x: len(x))

0    5
1    6
2    6
3    4
dtype: int64

In [41]:
''' #It's commonly used when you want to process data element-wise \n
# without writing explicit loops.'''

" #It's commonly used when you want to process data element-wise \n\n# without writing explicit loops."

In [42]:
#Q.19: Write a Pandas program to sort a given Series.

In [43]:
#METHOD 1: Using sort_values()

In [44]:
se_ = pd.Series([3, 1, 4, 1, 5, 9])

# Sort the Series in ascending order
sorted_ser = se_.sort_values()
print(sorted_ser)

1    1
3    1
0    3
2    4
4    5
5    9
dtype: int64

In [47]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
s.sort_values()

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [48]:
# sort_values(ascending=False) to sort the Series in descending order.
# Sort the Series in descending order
sorted_s = s.sort_values(ascending=False)
sorted_s

2    python
4       400
3    300.12
1       200
0       100
dtype: object

In [46]:
#METHOD 2: Using sort_index(): sort_index() to sort the Series by index in ascending order.

se_.sort_index()

0    3
1    1
2    4
3    1
4    5
5    9
dtype: int64

In [50]:
#Q.20 :Write a Pandas program to add some data to an existing Series.

In [53]:
#METHOD 1:Using append():to add the new Series

se = pd.Series([1, 2, 3])

# Create a new Series to add
new_data = pd.Series([4, 5, 6])

# Use append() to add the new Series
updated_ser = se.append(new_data, ignore_index=True)
#ignore_index=True is used to reset the index.

print(updated_ser)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

<ipython-input-53-dbc49ffc319a>:9: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  updated_ser = se.append(new_data, ignore_index=True)

In [54]:
# method 2:Using loc[] with a new index add the new Series to the existing one
se.loc[3] = 8
se.loc[4] = 9
print(se)

0    1
1    2
2    3
3    8
4    9
dtype: int64

In [55]:
#Q21. Write a Pandas program to change the order of index of a given series.

In [59]:
#using reindex():Use reindex() to change the order of indices
ss1 = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
print(ss1)
#  the new order of indices
new_order = ['b','d','a','c']

# Use reindex() to change the order of indices
reordered_ser = ss1.reindex(new_order)

print(reordered_ser)

a    1
b    2
c    3
d    4
dtype: int64
b    2
d    4
a    1
c    3
dtype: int64

In [60]:
# Q.22 Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [61]:
x = pd.Series([1,4,5,8,0,9])
print(x)

print("\n")
print("Mean for the given series: ",x.mean())
print("Standard Deviation for the given series:", x.std())

0    1
1    4
2    5
3    8
4    0
5    9
dtype: int64


Mean for the given series:  4.5
Standard Deviation for the given series: 3.6193922141707713

In [ ]:
#Q.23 Write a Pandas program to convert a series of date strings to a timeseries.

In [64]:
x = pd.Series(['09 Feb 2023', '12/01/2022', '21-03-2022', '30 Apr 2022 11:40'])
print(x)
#pd.to_datetime() function is used to convert the strings representing
#dates into datetime objects.

0          09 Feb 2023
1           12/01/2022
2           21-03-2022
3    30 Apr 2022 11:40
dtype: object

In [65]:
print(pd.to_datetime(x))

0   2023-02-09 00:00:00
1   2022-12-01 00:00:00
2   2022-03-21 00:00:00
3   2022-04-30 11:40:00
dtype: datetime64[ns]

<ipython-input-65-ec3983b5a894>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  print(pd.to_datetime(x))

# **Dataframe:****